# Environments
.venv/
.env
__pycache__/
*.pyc
.mypy_cache
.deepeval
.pytest_cache
.claude
.ruff_cache

# Builds
dist/
build/
*.egg-info/

# Coverage
.coverage*
htmlcov/

# OS / IDE
.DS_Store
.idea/

/**/vm_session*.json
vm_config.json
